@mixin inputfield {
  border: none;
  background-color: hsla(185, 38%, 97%, 1);
  height: 48px;
  width: 95%;
  text-align: right;
  padding-right: 5%;
  border-radius: 5px;
  &:focus-visible {
    outline: 2px solid hsla(172, 67%, 45%, 1);
  }
  &::placeholder {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: hsla(183, 100%, 15%, 1);
    position: absolute;
    height: 36px;
    top: calc(50% - 36px / 2);
    opacity: 0.35;
    right: 5%;
  }
}

@mixin inputIcon {
  position: absolute;
  left: 6.19%;
  right: 90.64%;
  top: 20.15%;
  bottom: 32.65%;
}

@mixin inputNumber {
  color: hsla(183, 100%, 15%, 1);
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

@mixin headersh2 {
  color: hsla(186, 14%, 43%, 1);
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  padding-bottom: 6px;
}
@mixin media-xl {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
